<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>About page</title>
</head>
<body>
    <h1>About page</h1>
    <div class="bio">
        <p>Angelina Jolie (born Angelina Jolie Voight; June 4, 1975) is an American actress, filmmaker, and humanitarian. The recipient of numerous accolades, including an Academy Award and three Golden Globe Awards, she has been named Hollywood's highest-paid actress multiple times.</p>
        
        <h3 class="bio-subtitle">Early Life and Acting Roots</h3>
        <p>Actress and humanitarian Angelina Jolie Voight was born on June 4, 1975, in Los Angeles, California, to actor Jon Voight and actress Marcheline Bertrand. She began acting at a young age, studying at the Lee Strasberg Theater Institute while in her early teens. Jolie later attended New York University.</p>

        <h3 class="bio-subtitle">Angelina Jolie's Movies</h3>
        <p>'Gia' and Oscar Win for 'Girl, Interrupted'
        In the 1990s, Angelina Jolie became a popular actress. She gave a star-making performance in the 1998 television film Gia, based on the short, tragic life of model Gia Marie Carangi, for which she won a best actress Golden Globe. Her rapid ascent continued with Girl, Interrupted (1999), as the rebellious member of a group of institutionalized teenagers, her performance resulting in an Academy Award win for best supporting actress.</p>

        <h3 class="bio-subtitle">Humanitarian Efforts</h3>
        <p>A devoted humanitarian, Angelina Jolie was made a Goodwill Ambassador for the UN Refugee Agency in 2001. She has made headlines for her work to obtain aid for refugees in Cambodia, Darfur and Jordan, to name just a few. <br>
        In 2005, Jolie received the Global Humanitarian Action Award from the United Nations Association of the USA for her activism on behalf of refugee rights. She has continued to draw attention to global issues.</p>


    </div>
    
    <div class="buttons">
        <a href="/">Home page</a>
    </div>
    
</body>
</html>