<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Angelina Jolie fanpage</h1>
    <img class="cover-pic" src="/images/Image20230418110531.jpg" alt="Angelina Jolie Photo">
    <h2>Welcome to Angelina Jolie's fanpage</h2>
    <div class="buttons">
        <a href="/about">Learn more about her</a>
        <a href="/works">Check her work out!!</a>
    </div>
    
</body>
</html>