<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Works page</title>
</head>
<body>
    <section>
        <h1>Angelina Jolie's Past Works</h1>
        
        <div class="role-div">
            <h2>As an actress</h2>
            <div class="works">
                <div class="eachWork">
                    <img src="https://i.redd.it/0uo91qqa1qm71.jpg" alt="Eternals Image">
                    <p>2021</p>
                    <p>Eternals</p>
                    <p>Thena</p>
                </div>
                <div class="eachWork">
                    <img src="https://static.tvtropes.org/pmwiki/pub/images/maleficent_poster.png" alt="First They Killed My Father">
                    <p>2014</p>
                    <p>Maleficent</p>
                    <p>Maleficent</p>
                </div>
        
            </div>
        </div>
       
        
        <div class="role-div">
            <h2>As a director</h2>
        <div class="works">
            <div class="eachWork">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgCoJwwYgZ_tCfEfHt7F3kuWtHeRDPpxrn-OGNFMI4wKP2WTwIalJy3w2H7oDAfZFFtbY&usqp=CAU" alt="First They Killed My Father">
                <p>2017</p>
                <p>First they killed my father</p>
            </div>
            <div class="eachWork">
                <img src="https://pics.filmaffinity.com/Invencible_Unbroken-846251381-large.jpg" alt="Unbroken">
                <p>2014</p>
                <p>Unbroken</p>
            </div>
        </div>
        </div>
        
        </section>
        
    <div class="buttons">
        <a href="/">Home page</a>
    </div>
    
</body>
</html>